<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122748547317-9g5vahammkiu099240uirosnt4hfmq4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122748547317-9g5vahammkiu099240uirosnt4hfmq4j</string>
	<key>API_KEY</key>
	<string>AIzaSyDcmjCnDbzQvbPJK4P6ixyYnKP_pAArlKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>122748547317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeGuard</string>
	<key>PROJECT_ID</key>
	<string>thesafeguard-222ea</string>
	<key>STORAGE_BUCKET</key>
	<string>thesafeguard-222ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122748547317:ios:feff3ea995513277fa55bc</string>
</dict>
</plist>